<section class="section is-secondary">
            <div class="container">
                <div class="w-layout-grid grid_5-col gap-medium">
                    <div
                        id="w-node-_0e2df8a2-9239-395f-04d1-1d88494b8e25-494b8e21"
                        class="w-layout-grid grid_2-col gap-medium w-node-_8f42124b-b3bd-9b43-511b-49a4613424a5-930f03e8"
                    >
                        <a href="#" class="link-content-block w-inline-block">
                            <div
                                id="w-node-_0e2df8a2-9239-395f-04d1-1d88494b8e28-494b8e21"
                                class="ratio_1x1-2 margin-bottom_xsmall w-node-_8f42124b-b3bd-9b43-511b-49a46134248a-930f03e8"
                            >
                                <img
                                    width="160"
                                    height="160"
                                    alt="[background image] image of professional workspace setting (for a hr tech)"
                                    src="https://cdn.prod.website-files.com/686d9250f2e87872930f03ce/686d931224324dd713c668ce_87f5d11b-57bc-4639-8f4c-fb48c5db8678.avif"
                                    loading="lazy"
                                    data-aisg-image-id="747490c2-163a-4eeb-893b-a42a7b9e348c"
                                    class="image_cover"
                                />
                            </div>
                            <h3 class="heading_h4 margin-bottom_xxsmall">
                                Design hacks for instant impact
                            </h3>
                            <p class="paragraph_small margin-bottom_none">
                                Quick wins to make your site pop and turn
                                visitors into fans.
                            </p>
                        </a><a
                            href="#"
                            class="link-content-block w-inline-block"
                        >
                            <div
                                id="w-node-_4542da27-5c8b-5bff-dc28-c8f995bddc7b-494b8e21"
                                class="ratio_1x1-2 margin-bottom_xsmall w-node-_8f42124b-b3bd-9b43-511b-49a461342491-930f03e8"
                            >
                                <img
                                    width="160"
                                    height="160"
                                    alt="image of interactive educational tool (for a edtech)"
                                    src="https://cdn.prod.website-files.com/686d9250f2e87872930f03ce/686d93146129b1cd6451c23f_e076fdf6-82ff-42c8-a52a-3310763739fd.avif"
                                    loading="lazy"
                                    data-aisg-image-id="38b00743-abbf-47aa-99b9-6fb13674d6d3"
                                    class="image_cover"
                                />
                            </div>
                            <h3 class="heading_h4 margin-bottom_xxsmall">
                                SEO wins for small business
                            </h3>
                            <p class="paragraph_small margin-bottom_none">
                                Simple steps to boost your Google rank and get
                                noticed.
                            </p>
                        </a><a
                            href="#"
                            class="link-content-block w-inline-block"
                        >
                            <div
                                id="w-node-_0c357407-4271-7e71-09f0-404e48e50fd2-494b8e21"
                                class="ratio_1x1-2 margin-bottom_xsmall w-node-_8f42124b-b3bd-9b43-511b-49a461342498-930f03e8"
                            >
                                <img
                                    width="160"
                                    height="160"
                                    alt="image of content management strategy session"
                                    src="https://cdn.prod.website-files.com/686d9250f2e87872930f03ce/686d9314b1c5c45b141fae0d_cb0350d2-b473-4321-8344-1c00c16be01c.avif"
                                    loading="lazy"
                                    data-aisg-image-id="1f85de0e-ba3b-49c2-9e0a-fef3ec38fc25"
                                    class="image_cover"
                                />
                            </div>
                            <h3 class="heading_h4 margin-bottom_xxsmall">
                                Launch your site in record time
                            </h3>
                            <p class="paragraph_small margin-bottom_none">
                                Pro shortcuts and tools for a speedy,
                                stress-free launch.
                            </p>
                        </a><a
                            href="#"
                            class="link-content-block w-inline-block"
                        >
                            <div
                                id="w-node-e0c955cd-143a-13f2-bf9d-c1cbe2dec811-494b8e21"
                                class="ratio_1x1-2 margin-bottom_xsmall w-node-_8f42124b-b3bd-9b43-511b-49a46134249f-930f03e8"
                            >
                                <img
                                    width="160"
                                    height="160"
                                    alt="image of studio atmosphere (game development company)"
                                    src="https://cdn.prod.website-files.com/686d9250f2e87872930f03ce/686d93146129b1cd6451c23a_c888b492-d8f9-4f9b-9c0b-05ee932ace41.avif"
                                    loading="lazy"
                                    data-aisg-image-id="d3e4a0e5-6e42-480e-b8a7-d346515fc3fc"
                                    class="image_cover"
                                />
                            </div>
                            <h3 class="heading_h4 margin-bottom_xxsmall">
                                Effortless mobile magic
                            </h3>
                            <p class="paragraph_small margin-bottom_none">
                                Look sharp on every screen—no tech headaches.
                            </p>
                        </a>
                    </div><a
                        id="w-node-_0e2df8a2-9239-395f-04d1-1d88494b8e47-494b8e21"
                        href="#"
                        class="link-content-block w-node-_8f42124b-b3bd-9b43-511b-49a4613424ac-930f03e8 w-inline-block"
                    >
                        <div
                            id="w-node-_0e2df8a2-9239-395f-04d1-1d88494b8e49-494b8e21"
                            class="ratio_1x1-2 margin-bottom_small w-node-_8f42124b-b3bd-9b43-511b-49a4613424a7-930f03e8"
                        >
                            <img
                                width="367"
                                height="367"
                                alt="[interface] image of software interface (for a edtech)"
                                src="https://cdn.prod.website-files.com/686d9250f2e87872930f03ce/686d931132843bf6860ef0ce_03efcc9b-315d-4f62-9a74-62b0aa65e2a4.avif"
                                loading="lazy"
                                data-aisg-image-id="1f71217c-044e-484f-92a7-c6e48bb6014a"
                                class="image_cover"
                            />
                        </div>
                        <h3 class="heading_h2">
                            Grow faster. Shine brighter. Win online.
                        </h3>
                        <p>
                            Fresh tips on web design, marketing, and growth for
                            small business go-getters.
                        </p>
                    </a>
                    <div
                        id="w-node-_9795e837-14b0-ad59-89d8-bf8345190690-494b8e21"
                        class="flex_vertical gap-small w-node-_8f42124b-b3bd-9b43-511b-49a4613424ca-930f03e8"
                    >
                        <a href="#" class="link-content-block w-inline-block">
                            <h3 class="heading_h4 margin-bottom_xxsmall">
                                Content that sparks action
                            </h3>
                            <p class="paragraph_small margin-bottom_none">
                                Turn readers into raving fans with every post.
                            </p>
                        </a>
                        <div class="divider"></div><a
                            href="#"
                            class="link-content-block w-inline-block"
                        >
                            <h3 class="heading_h4 margin-bottom_xxsmall">
                                Branding made brilliantly simple
                            </h3>
                            <p class="paragraph_small margin-bottom_none">
                                Stand out with a brand that sticks—no big budget
                                needed.
                            </p>
                        </a>
                        <div class="divider"></div><a
                            href="#"
                            class="link-content-block w-inline-block"
                        >
                            <h3 class="heading_h4 margin-bottom_xxsmall">
                                Social made easy (and fun!)
                            </h3>
                            <p class="paragraph_small margin-bottom_none">
                                Boost your reach with scroll-stopping social
                                tips.
                            </p>
                        </a>
                        <div class="divider"></div><a
                            href="#"
                            class="link-content-block w-inline-block"
                        >
                            <h3 class="heading_h4 margin-bottom_xxsmall">
                                Copy that converts, every time
                            </h3>
                            <p class="paragraph_small margin-bottom_none">
                                Craft headlines and CTAs that drive real
                                results.
                            </p>
                        </a>
                        <div class="divider"></div><a
                            href="#"
                            class="link-content-block w-inline-block"
                        >
                            <h3 class="heading_h4 margin-bottom_xxsmall">
                                Analytics you’ll actually love
                            </h3>
                            <p class="paragraph_small margin-bottom_none">
                                Track what matters and watch your business grow.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
