<section class="section">
            <div class="container">
                <div
                    id="w-node-_819bded7-04a6-bcd9-8507-e345f6446cef-f6446cec"
                    class="w-layout-grid header is-2-col w-node-b2ade876-d0fa-3992-3ce2-0d3bd0adba36-930f03e8"
                >
                    <h2
                        id="w-node-_819bded7-04a6-bcd9-8507-e345f6446cf0-f6446cec"
                        class="margin-bottom_none w-node-b2ade876-d0fa-3992-3ce2-0d3bd0adba31-930f03e8"
                    >
                        Features built for business growth
                    </h2>
                    <p
                        id="w-node-_819bded7-04a6-bcd9-8507-e345f6446cf2-f6446cec"
                        class="w-node-b2ade876-d0fa-3992-3ce2-0d3bd0adba35-930f03e8"
                    >
                        Supercharge your small business with sleek sites, smart
                        SEO, and lightning-fast launches. Explore our
                        services—each crafted to help you stand out and win more
                        customers.
                    </p>
                </div>
                <div
                    id="w-node-_819bded7-04a6-bcd9-8507-e345f6446cf4-f6446cec"
                    data-easing="ease"
                    data-current="Tab 2"
                    data-duration-out="100"
                    data-duration-in="300"
                    class="w-node-b2ade876-d0fa-3992-3ce2-0d3bd0adbab9-930f03e8 w-tabs"
                >
                    <div class="tabs_nav w-tab-menu">
                        <a
                            data-w-tab="Tab 1"
                            class="tab_menu-button w-tab-link"
                        >
                            <div>Web design</div>
                        </a><a
                            data-w-tab="Tab 2"
                            class="tab_menu-button w-tab-link w--current"
                        >
                            <div>SEO &amp; speed</div>
                        </a>
                    </div>
                    <div class="tabs_content w-tab-content">
                        <div data-w-tab="Tab 1" class="w-tab-pane">
                            <div class="w-layout-grid grid_3-col gap-xsmall">
                                <a href="#" class="card-link w-inline-block">
                                    <div class="card_body">
                                        <div class="icon margin-bottom_xsmall">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="100%"
                                                height="100%"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M12.5 18.25C16.2279 18.25 19.25 15.2279 19.25 11.5C19.25 7.77208 16.2279 4.75 12.5 4.75C8.77208 4.75 5.75 7.77208 5.75 11.5C5.75 12.6007 6.01345 13.6398 6.48072 14.5578L5 19L9.71819 17.6519C10.5664 18.0361 11.5082 18.25 12.5 18.25Z"
                                                    stroke="currentColor"
                                                    stroke-width="1.5"
                                                    stroke-linejoin="round"
                                                ></path>
                                            </svg>
                                        </div>
                                        <h3
                                            id="w-node-_4b0a2c19-da60-f3bd-4148-a134f9ac5edd-f6446cec"
                                            class="heading_h4 w-node-b2ade876-d0fa-3992-3ce2-0d3bd0adba44-930f03e8"
                                        >
                                            Custom websites
                                        </h3>
                                        <p class="paragraph_small">
                                            Show off your brand with a site
                                            that’s easy to update and ready to
                                            wow from day one.
                                        </p><br />
                                        <p></p>
                                        <div class="margin_top-auto">
                                            <div
                                                class="text-button is-secondary"
                                            >
                                                <div>Explore</div>
                                                <div class="button_icon">
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="100%"
                                                        height="100%"
                                                        viewBox="0 0 16 16"
                                                        fill="none"
                                                    >
                                                        <path
                                                            d="M2 8H14.5M14.5 8L8.5 2M14.5 8L8.5 14"
                                                            stroke="currentColor"
                                                            stroke-width="2"
                                                            stroke-linejoin="round"
                                                        ></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a><a
                                    href="#"
                                    class="card-link w-inline-block"
                                >
                                    <div class="card_body">
                                        <div class="icon margin-bottom_xsmall">
                                            <svg
                                                width="100%"
                                                height="100%"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M4 12C8.41828 12 12 8.41828 12 4C12 8.41828 15.5817 12 20 12C15.5817 12 12 15.5817 12 20C12 15.5817 8.41828 12 4 12Z"
                                                    stroke-width="1.5"
                                                    stroke-linejoin="round"
                                                    stroke="currentColor"
                                                ></path>
                                            </svg>
                                        </div>
                                        <h3
                                            id="w-node-ecc7dbe4-b05c-ca2a-6527-420e49b7a543-f6446cec"
                                            class="heading_h4 w-node-b2ade876-d0fa-3992-3ce2-0d3bd0adba58-930f03e8"
                                        >
                                            Responsive design
                                        </h3>
                                        <p class="paragraph_small">
                                            Look great everywhere—desktop,
                                            tablet, or phone. Never miss a lead
                                            on any device.
                                        </p><br />
                                        <p></p>
                                        <div
                                            class="margin_top-auto padding-top_small"
                                        >
                                            <div
                                                class="text-button is-secondary"
                                            >
                                                <div>See how</div>
                                                <div class="button_icon">
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="100%"
                                                        height="100%"
                                                        viewBox="0 0 16 16"
                                                        fill="none"
                                                    >
                                                        <path
                                                            d="M2 8H14.5M14.5 8L8.5 2M14.5 8L8.5 14"
                                                            stroke="currentColor"
                                                            stroke-width="2"
                                                            stroke-linejoin="round"
                                                        ></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a><a
                                    href="#"
                                    class="card-link w-inline-block"
                                >
                                    <div class="card_body">
                                        <div class="icon margin-bottom_xsmall">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="100%"
                                                height="100%"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M19.25 12C19.25 16.0041 16.0041 19.25 12 19.25C7.99594 19.25 4.75 16.0041 4.75 12C4.75 7.99594 7.99594 4.75 12 4.75C16.0041 4.75 19.25 7.99594 19.25 12Z"
                                                    stroke="currentColor"
                                                    stroke-width="1.5"></path>
                                                <path
                                                    d="M9 12L11 14L15.5 9.5"
                                                    stroke="currentColor"
                                                    stroke-width="1.5"
                                                >
                                                </path>
                                            </svg>
                                        </div>
                                        <h3
                                            id="w-node-_138081de-745d-26d3-5f8f-33c8fdff59ef-f6446cec"
                                            class="heading_h4 w-node-b2ade876-d0fa-3992-3ce2-0d3bd0adba6d-930f03e8"
                                        >
                                            Fast delivery
                                        </h3>
                                        <p class="paragraph_small">
                                            Get online in record time. We launch
                                            your site fast, so you can start
                                            growing sooner.
                                        </p><br />
                                        <p></p>
                                        <div
                                            class="margin_top-auto padding-top_small"
                                        >
                                            <div
                                                class="text-button is-secondary"
                                            >
                                                <div>Start now</div>
                                                <div class="button_icon">
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="100%"
                                                        height="100%"
                                                        viewBox="0 0 16 16"
                                                        fill="none"
                                                    >
                                                        <path
                                                            d="M2 8H14.5M14.5 8L8.5 2M14.5 8L8.5 14"
                                                            stroke="currentColor"
                                                            stroke-width="2"
                                                            stroke-linejoin="round"
                                                        ></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div
                            data-w-tab="Tab 2"
                            class="w-tab-pane w--tab-active"
                        >
                            <div class="w-layout-grid grid_3-col gap-xsmall">
                                <a href="#" class="card-link w-inline-block">
                                    <div class="card_body">
                                        <div class="icon margin-bottom_xsmall">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="100%"
                                                height="100%"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M12.5 18.25C16.2279 18.25 19.25 15.2279 19.25 11.5C19.25 7.77208 16.2279 4.75 12.5 4.75C8.77208 4.75 5.75 7.77208 5.75 11.5C5.75 12.6007 6.01345 13.6398 6.48072 14.5578L5 19L9.71819 17.6519C10.5664 18.0361 11.5082 18.25 12.5 18.25Z"
                                                    stroke="currentColor"
                                                    stroke-width="1.5"
                                                    stroke-linejoin="round"
                                                ></path>
                                            </svg>
                                        </div>
                                        <h3
                                            id="w-node-a69e8bd2-725b-02bf-e223-d24b8d6c9513-f6446cec"
                                            class="heading_h4 w-node-b2ade876-d0fa-3992-3ce2-0d3bd0adba81-930f03e8"
                                        >
                                            SEO optimization
                                        </h3>
                                        <p class="paragraph_small">
                                            Rise up the ranks and get noticed.
                                            We handle the tech, you get the
                                            clicks.
                                        </p><br />
                                        <div class="margin_top-auto">
                                            <div
                                                class="text-button is-secondary"
                                            >
                                                <div>Boost</div>
                                                <div class="button_icon">
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="100%"
                                                        height="100%"
                                                        viewBox="0 0 16 16"
                                                        fill="none"
                                                    >
                                                        <path
                                                            d="M2 8H14.5M14.5 8L8.5 2M14.5 8L8.5 14"
                                                            stroke="currentColor"
                                                            stroke-width="2"
                                                            stroke-linejoin="round"
                                                        ></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a><a
                                    href="#"
                                    class="card-link w-inline-block"
                                >
                                    <div class="card_body">
                                        <div class="icon margin-bottom_xsmall">
                                            <svg
                                                width="100%"
                                                height="100%"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M4 12C8.41828 12 12 8.41828 12 4C12 8.41828 15.5817 12 20 12C15.5817 12 12 15.5817 12 20C12 15.5817 8.41828 12 4 12Z"
                                                    stroke-width="1.5"
                                                    stroke-linejoin="round"
                                                    stroke="currentColor"
                                                ></path>
                                            </svg>
                                        </div>
                                        <h3
                                            id="w-node-a69e8bd2-725b-02bf-e223-d24b8d6c9524-f6446cec"
                                            class="heading_h4 w-node-b2ade876-d0fa-3992-3ce2-0d3bd0adba93-930f03e8"
                                        >
                                            Lightning speed
                                        </h3>
                                        <p class="paragraph_small">
                                            No slowpokes here. We make sure your
                                            site loads fast and runs smooth.
                                        </p><br />
                                        <div
                                            class="margin_top-auto padding-top_small"
                                        >
                                            <div
                                                class="text-button is-secondary"
                                            >
                                                <div>Test it</div>
                                                <div class="button_icon">
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="100%"
                                                        height="100%"
                                                        viewBox="0 0 16 16"
                                                        fill="none"
                                                    >
                                                        <path
                                                            d="M2 8H14.5M14.5 8L8.5 2M14.5 8L8.5 14"
                                                            stroke="currentColor"
                                                            stroke-width="2"
                                                            stroke-linejoin="round"
                                                        ></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a><a
                                    href="#"
                                    class="card-link w-inline-block"
                                >
                                    <div class="card_body">
                                        <div class="icon margin-bottom_xsmall">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="100%"
                                                height="100%"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                            >
                                                <path
                                                    d="M19.25 12C19.25 16.0041 16.0041 19.25 12 19.25C7.99594 19.25 4.75 16.0041 4.75 12C4.75 7.99594 7.99594 4.75 12 4.75C16.0041 4.75 19.25 7.99594 19.25 12Z"
                                                    stroke="currentColor"
                                                    stroke-width="1.5"></path>
                                                <path
                                                    d="M9 12L11 14L15.5 9.5"
                                                    stroke="currentColor"
                                                    stroke-width="1.5"
                                                >
                                                </path>
                                            </svg>
                                        </div>
                                        <h3
                                            id="w-node-a69e8bd2-725b-02bf-e223-d24b8d6c9536-f6446cec"
                                            class="heading_h4 w-node-b2ade876-d0fa-3992-3ce2-0d3bd0adbaa6-930f03e8"
                                        >
                                            Ongoing support
                                        </h3>
                                        <p class="paragraph_small">
                                            Need help or updates? We’re here for
                                            you, even after launch.
                                        </p><br />
                                        <div
                                            class="margin_top-auto padding-top_small"
                                        >
                                            <div
                                                class="text-button is-secondary"
                                            >
                                                <div>Contact</div>
                                                <div class="button_icon">
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="100%"
                                                        height="100%"
                                                        viewBox="0 0 16 16"
                                                        fill="none"
                                                    >
                                                        <path
                                                            d="M2 8H14.5M14.5 8L8.5 2M14.5 8L8.5 14"
                                                            stroke="currentColor"
                                                            stroke-width="2"
                                                            stroke-linejoin="round"
                                                        ></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>