<div class="nav">
            <div
                data-duration="400"
                data-animation="default"
                data-easing2="ease"
                data-easing="ease"
                data-collapse="medium"
                role="banner"
                data-no-scroll="1"
                class="nav_container w-nav"
            >
                <div class="nav_left">
                    <a href="#" class="nav_logo w-inline-block">
                        <div class="nav_logo-icon">
                            <img src="/logo.png">
                        </div>
                        <div class="paragraph_large margin-bottom_none">
                            BizzBoost
                        </div>
                    </a>
                    <nav role="navigation" class="nav_menu w-nav-menu">
                        <ul role="list" class="nav_menu-list w-list-unstyled">
                            <li class="nav_menu-list-item">
                                <div
                                    data-delay="0"
                                    data-hover="false"
                                    class="nav_dropdown-menu w-dropdown"
                                >
                                    <div class="nav_link w-dropdown-toggle">
                                        <div>Services</div>
                                        <div
                                            class="nav-caret w-icon-dropdown-toggle"
                                        >
                                        </div>
                                    </div>
                                    <nav
                                        class="mega-nav_dropdown-list w-dropdown-list"
                                    >
                                        <div
                                            class="mega-nav_dropdown-list-wrapper"
                                        >
                                            <ul
                                                role="list"
                                                class="grid_3-col tablet-1-col gap-medium margin-bottom_none w-list-unstyled"
                                            >
                                                <li
                                                    id="w-node-_6834ea16-81cf-d304-337c-e1249bfd0bd1-4d562d54"
                                                    class="w-node-a825c6d2-5109-9ac5-d26d-697e77a83545-77a83531"
                                                >
                                                    <div
                                                        class="w-layout-grid grid_3-col tablet-1-col gap-small"
                                                    >
                                                        <div>
                                                            <div
                                                                class="eyebrow"
                                                            >
                                                                Websites
                                                            </div>
                                                            <ul
                                                                role="list"
                                                                class="mega-nav_list w-list-unstyled"
                                                            >
                                                                <li
                                                                    class="margin-bottom_none"
                                                                >
                                                                    <a
                                                                        href="#"
                                                                        class="mega-nav_link-item w-inline-block"
                                                                    >
                                                                        <div
                                                                            class="icon_medium"
                                                                        >
                                                                            <svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                width="100%"
                                                                                height="100%"
                                                                                viewBox="0 0 32 32"
                                                                                fill="currentColor"
                                                                            >
                                                                                <path
                                                                                    d="m25.7 9.3l-7-7A.9.9 0 0 0 18 2H8a2.006 2.006 0 0 0-2 2v24a2.006 2.006 0 0 0 2 2h16a2.006 2.006 0 0 0 2-2V10a.9.9 0 0 0-.3-.7M18 4.4l5.6 5.6H18ZM24 28H8V4h8v6a2.006 2.006 0 0 0 2 2h6Z"
                                                                                    stroke-linejoin="round"
                                                                                >
                                                                                </path>
                                                                            </svg>
                                                                        </div>
                                                                        <div
                                                                            id="w-node-_6834ea16-81cf-d304-337c-e1249bfd0bdc-4d562d54"
                                                                            class="w-node-a825c6d2-5109-9ac5-d26d-697e77a83550-77a83531"
                                                                        >
                                                                            <div
                                                                            >
                                                                                <strong
                                                                                    >Custom
                                                                                    Builds</strong>
                                                                            </div>
                                                                            <div
                                                                                class="paragraph_small text-color_secondary"
                                                                            >
                                                                                Sites
                                                                                made
                                                                                just
                                                                                for
                                                                                you.
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li
                                                                    class="margin-bottom_none"
                                                                >
                                                                    <a
                                                                        href="#"
                                                                        class="mega-nav_link-item w-inline-block"
                                                                    >
                                                                        <div
                                                                            class="icon_medium"
                                                                        >
                                                                            <svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                width="100%"
                                                                                height="100%"
                                                                                viewBox="0 0 32 32"
                                                                                fill="currentColor"
                                                                            >
                                                                                <path
                                                                                    d="m25.7 9.3l-7-7A.9.9 0 0 0 18 2H8a2.006 2.006 0 0 0-2 2v24a2.006 2.006 0 0 0 2 2h16a2.006 2.006 0 0 0 2-2V10a.9.9 0 0 0-.3-.7M18 4.4l5.6 5.6H18ZM24 28H8V4h8v6a2.006 2.006 0 0 0 2 2h6Z"
                                                                                    stroke-linejoin="round"
                                                                                >
                                                                                </path>
                                                                            </svg>
                                                                        </div>
                                                                        <div
                                                                            id="w-node-_6834ea16-81cf-d304-337c-e1249bfd0be7-4d562d54"
                                                                            class="w-node-a825c6d2-5109-9ac5-d26d-697e77a8355b-77a83531"
                                                                        >
                                                                            <div
                                                                            >
                                                                                <strong
                                                                                    >SEO
                                                                                    Power</strong>
                                                                            </div>
                                                                            <div
                                                                                class="paragraph_small text-color_secondary"
                                                                            >
                                                                                Rank
                                                                                higher,
                                                                                get
                                                                                noticed.
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li
                                                                    class="margin-bottom_none"
                                                                >
                                                                    <a
                                                                        href="#"
                                                                        class="mega-nav_link-item w-inline-block"
                                                                    >
                                                                        <div
                                                                            class="icon_medium"
                                                                        >
                                                                            <svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                width="100%"
                                                                                height="100%"
                                                                                viewBox="0 0 32 32"
                                                                                fill="currentColor"
                                                                            >
                                                                                <path
                                                                                    d="m25.7 9.3l-7-7A.9.9 0 0 0 18 2H8a2.006 2.006 0 0 0-2 2v24a2.006 2.006 0 0 0 2 2h16a2.006 2.006 0 0 0 2-2V10a.9.9 0 0 0-.3-.7M18 4.4l5.6 5.6H18ZM24 28H8V4h8v6a2.006 2.006 0 0 0 2 2h6Z"
                                                                                    stroke-linejoin="round"
                                                                                >
                                                                                </path>
                                                                            </svg>
                                                                        </div>
                                                                        <div
                                                                            id="w-node-_6834ea16-81cf-d304-337c-e1249bfd0bf2-4d562d54"
                                                                            class="w-node-a825c6d2-5109-9ac5-d26d-697e77a83566-77a83531"
                                                                        >
                                                                            <div
                                                                            >
                                                                                <strong
                                                                                    >Quick
                                                                                    Launch</strong>
                                                                            </div>
                                                                            <div
                                                                                class="paragraph_small text-color_secondary"
                                                                            >
                                                                                Go
                                                                                live
                                                                                in
                                                                                record
                                                                                time.
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div>
                                                            <div
                                                                class="eyebrow"
                                                            >
                                                                Design
                                                            </div>
                                                            <ul
                                                                role="list"
                                                                class="mega-nav_list w-list-unstyled"
                                                            >
                                                                <li
                                                                    class="margin-bottom_none"
                                                                >
                                                                    <a
                                                                        href="#"
                                                                        class="mega-nav_link-item w-inline-block"
                                                                    >
                                                                        <div
                                                                            class="icon_medium"
                                                                        >
                                                                            <svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                width="100%"
                                                                                height="100%"
                                                                                viewBox="0 0 32 32"
                                                                                fill="currentColor"
                                                                            >
                                                                                <path
                                                                                    d="m25.7 9.3l-7-7A.9.9 0 0 0 18 2H8a2.006 2.006 0 0 0-2 2v24a2.006 2.006 0 0 0 2 2h16a2.006 2.006 0 0 0 2-2V10a.9.9 0 0 0-.3-.7M18 4.4l5.6 5.6H18ZM24 28H8V4h8v6a2.006 2.006 0 0 0 2 2h6Z"
                                                                                    stroke-linejoin="round"
                                                                                >
                                                                                </path>
                                                                            </svg>
                                                                        </div>
                                                                        <div
                                                                            id="w-node-_6834ea16-81cf-d304-337c-e1249bfd0c01-4d562d54"
                                                                            class="w-node-a825c6d2-5109-9ac5-d26d-697e77a83575-77a83531"
                                                                        >
                                                                            <div
                                                                            >
                                                                                <strong
                                                                                    >Mobile
                                                                                    Ready</strong>
                                                                            </div>
                                                                            <div
                                                                                class="paragraph_small text-color_secondary"
                                                                            >
                                                                                Flawless
                                                                                on
                                                                                any
                                                                                screen.
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li
                                                                    class="margin-bottom_none"
                                                                >
                                                                    <a
                                                                        href="#"
                                                                        class="mega-nav_link-item w-inline-block"
                                                                    >
                                                                        <div
                                                                            class="icon_medium"
                                                                        >
                                                                            <svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                width="100%"
                                                                                height="100%"
                                                                                viewBox="0 0 32 32"
                                                                                fill="currentColor"
                                                                            >
                                                                                <path
                                                                                    d="m25.7 9.3l-7-7A.9.9 0 0 0 18 2H8a2.006 2.006 0 0 0-2 2v24a2.006 2.006 0 0 0 2 2h16a2.006 2.006 0 0 0 2-2V10a.9.9 0 0 0-.3-.7M18 4.4l5.6 5.6H18ZM24 28H8V4h8v6a2.006 2.006 0 0 0 2 2h6Z"
                                                                                    stroke-linejoin="round"
                                                                                >
                                                                                </path>
                                                                            </svg>
                                                                        </div>
                                                                        <div
                                                                            id="w-node-_6834ea16-81cf-d304-337c-e1249bfd0c0c-4d562d54"
                                                                            class="w-node-a825c6d2-5109-9ac5-d26d-697e77a83580-77a83531"
                                                                        >
                                                                            <div
                                                                            >
                                                                                <strong
                                                                                    >Brand
                                                                                    Magic</strong>
                                                                            </div>
                                                                            <div
                                                                                class="paragraph_small text-color_secondary"
                                                                            >
                                                                                Make
                                                                                your
                                                                                mark
                                                                                online.
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li
                                                                    class="margin-bottom_none"
                                                                >
                                                                    <a
                                                                        href="#"
                                                                        class="mega-nav_link-item w-inline-block"
                                                                    >
                                                                        <div
                                                                            class="icon_medium"
                                                                        >
                                                                            <svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                width="100%"
                                                                                height="100%"
                                                                                viewBox="0 0 32 32"
                                                                                fill="currentColor"
                                                                            >
                                                                                <path
                                                                                    d="m25.7 9.3l-7-7A.9.9 0 0 0 18 2H8a2.006 2.006 0 0 0-2 2v24a2.006 2.006 0 0 0 2 2h16a2.006 2.006 0 0 0 2-2V10a.9.9 0 0 0-.3-.7M18 4.4l5.6 5.6H18ZM24 28H8V4h8v6a2.006 2.006 0 0 0 2 2h6Z"
                                                                                    stroke-linejoin="round"
                                                                                >
                                                                                </path>
                                                                            </svg>
                                                                        </div>
                                                                        <div
                                                                            id="w-node-_6834ea16-81cf-d304-337c-e1249bfd0c17-4d562d54"
                                                                            class="w-node-a825c6d2-5109-9ac5-d26d-697e77a8358b-77a83531"
                                                                        >
                                                                            <div
                                                                            >
                                                                                <strong
                                                                                    >Shop
                                                                                    Online</strong>
                                                                            </div>
                                                                            <div
                                                                                class="paragraph_small text-color_secondary"
                                                                            >
                                                                                Easy,
                                                                                seamless
                                                                                selling.
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div>
                                                            <div
                                                                class="eyebrow"
                                                            >
                                                                Support
                                                            </div>
                                                            <ul
                                                                role="list"
                                                                class="mega-nav_list w-list-unstyled"
                                                            >
                                                                <li
                                                                    class="margin-bottom_none"
                                                                >
                                                                    <a
                                                                        href="#"
                                                                        class="mega-nav_link-item w-inline-block"
                                                                    >
                                                                        <div
                                                                            class="icon_medium"
                                                                        >
                                                                            <svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                width="100%"
                                                                                height="100%"
                                                                                viewBox="0 0 32 32"
                                                                                fill="currentColor"
                                                                            >
                                                                                <path
                                                                                    d="m25.7 9.3l-7-7A.9.9 0 0 0 18 2H8a2.006 2.006 0 0 0-2 2v24a2.006 2.006 0 0 0 2 2h16a2.006 2.006 0 0 0 2-2V10a.9.9 0 0 0-.3-.7M18 4.4l5.6 5.6H18ZM24 28H8V4h8v6a2.006 2.006 0 0 0 2 2h6Z"
                                                                                    stroke-linejoin="round"
                                                                                >
                                                                                </path>
                                                                            </svg>
                                                                        </div>
                                                                        <div
                                                                            id="w-node-_6834ea16-81cf-d304-337c-e1249bfd0c26-4d562d54"
                                                                            class="w-node-a825c6d2-5109-9ac5-d26d-697e77a8359a-77a83531"
                                                                        >
                                                                            <div
                                                                            >
                                                                                <strong
                                                                                    >Help
                                                                                    Desk</strong>
                                                                            </div>
                                                                            <div
                                                                                class="paragraph_small text-color_secondary"
                                                                            >
                                                                                Find
                                                                                answers
                                                                                fast.
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li
                                                                    class="margin-bottom_none"
                                                                >
                                                                    <a
                                                                        href="#"
                                                                        class="mega-nav_link-item w-inline-block"
                                                                    >
                                                                        <div
                                                                            class="icon_medium"
                                                                        >
                                                                            <svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                width="100%"
                                                                                height="100%"
                                                                                viewBox="0 0 32 32"
                                                                                fill="currentColor"
                                                                            >
                                                                                <path
                                                                                    d="m25.7 9.3l-7-7A.9.9 0 0 0 18 2H8a2.006 2.006 0 0 0-2 2v24a2.006 2.006 0 0 0 2 2h16a2.006 2.006 0 0 0 2-2V10a.9.9 0 0 0-.3-.7M18 4.4l5.6 5.6H18ZM24 28H8V4h8v6a2.006 2.006 0 0 0 2 2h6Z"
                                                                                    stroke-linejoin="round"
                                                                                >
                                                                                </path>
                                                                            </svg>
                                                                        </div>
                                                                        <div
                                                                            id="w-node-_6834ea16-81cf-d304-337c-e1249bfd0c31-4d562d54"
                                                                            class="w-node-a825c6d2-5109-9ac5-d26d-697e77a835a5-77a83531"
                                                                        >
                                                                            <div
                                                                            >
                                                                                <strong
                                                                                    >How-Tos</strong>
                                                                            </div>
                                                                            <div
                                                                                class="paragraph_small text-color_secondary"
                                                                            >
                                                                                Guides
                                                                                for
                                                                                every
                                                                                step.
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li
                                                                    class="margin-bottom_none"
                                                                >
                                                                    <a
                                                                        href="#"
                                                                        class="mega-nav_link-item w-inline-block"
                                                                    >
                                                                        <div
                                                                            class="icon_medium"
                                                                        >
                                                                            <svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                width="100%"
                                                                                height="100%"
                                                                                viewBox="0 0 32 32"
                                                                                fill="currentColor"
                                                                            >
                                                                                <path
                                                                                    d="m25.7 9.3l-7-7A.9.9 0 0 0 18 2H8a2.006 2.006 0 0 0-2 2v24a2.006 2.006 0 0 0 2 2h16a2.006 2.006 0 0 0 2-2V10a.9.9 0 0 0-.3-.7M18 4.4l5.6 5.6H18ZM24 28H8V4h8v6a2.006 2.006 0 0 0 2 2h6Z"
                                                                                    stroke-linejoin="round"
                                                                                >
                                                                                </path>
                                                                            </svg>
                                                                        </div>
                                                                        <div
                                                                            id="w-node-_6834ea16-81cf-d304-337c-e1249bfd0c3c-4d562d54"
                                                                            class="w-node-a825c6d2-5109-9ac5-d26d-697e77a835b0-77a83531"
                                                                        >
                                                                            <div
                                                                            >
                                                                                <strong
                                                                                    >Contact</strong>
                                                                            </div>
                                                                            <div
                                                                                class="paragraph_small text-color_secondary"
                                                                            >
                                                                                We’re
                                                                                here
                                                                                to
                                                                                help.
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li
                                                    id="w-node-_6834ea16-81cf-d304-337c-e1249bfd0c42-4d562d54"
                                                    class="flex_horizontal w-node-a825c6d2-5109-9ac5-d26d-697e77a835b8-77a83531"
                                                >
                                                    <a
                                                        href="#"
                                                        class="card-link is-inverse flex-child_expand w-inline-block"
                                                    >
                                                        <div class="card_body">
                                                            <div
                                                                class="heading_h3"
                                                            >
                                                                Grow online. Win
                                                                more clients.
                                                            </div>
                                                            <p
                                                                class="paragraph_small text-color_inverse-secondary"
                                                            >
                                                                Turn clicks into
                                                                customers with
                                                                stunning sites
                                                                and smart
                                                                strategy.
                                                            </p>
                                                            <div
                                                                class="margin_top-auto"
                                                            >
                                                                <div
                                                                    class="button-group"
                                                                >
                                                                    <div
                                                                        class="text-button is-secondary"
                                                                    >
                                                                        <div>
                                                                            Discover
                                                                        </div>
                                                                        <div
                                                                            class="button_icon"
                                                                        >
                                                                            <svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                width="100%"
                                                                                height="100%"
                                                                                viewBox="0 0 16 16"
                                                                                fill="none"
                                                                            >
                                                                                <path
                                                                                    d="M2 8H14.5M14.5 8L8.5 2M14.5 8L8.5 14"
                                                                                    stroke="currentColor"
                                                                                    stroke-width="2"
                                                                                    stroke-linejoin="round"
                                                                                >
                                                                                </path>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </li>
                            <li class="nav_menu-list-item">
                                <a href="#" class="nav_link w-inline-block">
                                    <div>About</div>
                                </a>
                            </li>
                            <li class="nav_menu-list-item">
                                <a href="#" class="nav_link w-inline-block">
                                    <div>Blog</div>
                                </a>
                            </li>
                            <li class="nav_menu-list-item">
                                <div
                                    data-delay="0"
                                    data-hover="false"
                                    class="nav_dropdown-menu w-dropdown"
                                >
                                    <div class="nav_link w-dropdown-toggle">
                                        <div>Support</div>
                                        <div
                                            class="nav-caret w-icon-dropdown-toggle"
                                        >
                                        </div>
                                    </div>
                                    <div
                                        class="nav_dropdown-list w-dropdown-list"
                                    >
                                        <div
                                            class="nav-menu_dropdown-list-wrapper"
                                        >
                                            <ul
                                                role="list"
                                                class="flex_vertical margin-bottom_none w-list-unstyled"
                                            >
                                                <li class="margin-bottom_none">
                                                    <a
                                                        href="#"
                                                        class="nav_dropdown-link w-inline-block"
                                                    >
                                                        <div
                                                            class="button_label"
                                                        >
                                                            Contact
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="margin-bottom_none">
                                                    <a
                                                        href="#"
                                                        class="nav_dropdown-link w-inline-block"
                                                    >
                                                        <div
                                                            class="button_label"
                                                        >
                                                            Help
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="nav_right">
                    <div class="button-group margin-top_none">
                        <a href="#" class="button w-inline-block">
                            <div class="button_label">Free quote</div>
                        </a>
                    </div>
                </div>
                <div class="nav_mobile-menu-button w-nav-button">
                    <div class="icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                        >
                            <g
                                class="nc-icon-wrapper"
                                stroke-linecap="square"
                                stroke-linejoin="miter"
                                stroke-width="1.5"
                                fill="none"
                                stroke="currentColor"
                                stroke-miterlimit="10"
                            >
                                <line
                                    x1="1"
                                    y1="12"
                                    x2="23"
                                    y2="12"
                                    stroke="currentColor"></line>
                                <line x1="1" y1="5" x2="23" y2="5"></line>
                                <line x1="1" y1="19" x2="23" y2="19"></line>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>