<section class="section is-secondary">
            <div class="container">
                <div class="w-layout-grid grid_3-col gap-small tablet-1-col">
                    <div
                        id="w-node-_6cf004a7-6366-a89a-4b2f-528bc047c91f-e9000322"
                        class="flex_vertical is-x-center text-align_center w-node-d08b4b8b-91d5-3d35-b5ee-fe4bdc6f162d-930f03e8"
                    >
                        <img
                            width="309"
                            height="206"
                            alt="[digital project]"
                            src="https://cdn.prod.website-files.com/686d9250f2e87872930f03ce/686d9312827ec9e4103d3e6c_a88075df-9667-4427-a5a5-d2542c90723c.avif"
                            loading="lazy"
                            data-aisg-image-id="982fd17a-07e1-45d7-bc6e-c96eaf64f3ef"
                            class="image_cover ratio_3x2 margin-bottom_small"
                        />
                        <h3 class="heading_h4">Websites that win customers</h3>
                        <p class="paragraph_small margin-bottom_small">
                            Get a site that pops and sells. We design for
                            impact, so your business stands out and turns clicks
                            into loyal fans—no hassle, all hustle.
                        </p><a href="#" class="button w-button">Discover</a>
                    </div>
                    <div
                        id="w-node-_9dd0748e-5de9-9304-ce0c-856288a7c288-e9000322"
                        class="flex_vertical is-x-center text-align_center w-node-d08b4b8b-91d5-3d35-b5ee-fe4bdc6f1635-930f03e8"
                    >
                        <img
                            width="309"
                            height="206"
                            alt="[digital project] image of website on multiple laptops for a graphic design studio"
                            src="https://cdn.prod.website-files.com/686d9250f2e87872930f03ce/686d93128458f386198daec4_cda1a4b6-4c03-4317-9aae-c20372b592f0.avif"
                            loading="lazy"
                            data-aisg-image-id="18921f41-b032-4c91-8406-5303e15803b2"
                            class="image_cover ratio_3x2 margin-bottom_small"
                        />
                        <h3 class="heading_h4">
                            Looks perfect on every device
                        </h3>
                        <p class="paragraph_small margin-bottom_small">
                            From phones to desktops, your site shines
                            everywhere. No awkward scrolling—just smooth,
                            stylish browsing for every visitor.
                        </p><a href="#" class="button w-button">Preview</a>
                    </div>
                    <div
                        id="w-node-_77f2545f-e36a-f424-ae20-e05504a2569c-e9000322"
                        class="flex_vertical is-x-center text-align_center w-node-d08b4b8b-91d5-3d35-b5ee-fe4bdc6f163d-930f03e8"
                    >
                        <img
                            width="309"
                            height="206"
                            alt="<subject>[interface] image of employee interacting with hr software (for a hr tech)</subject>"
                            src="https://cdn.prod.website-files.com/686d9250f2e87872930f03ce/686d9312197334b5c9ba57c4_de0ce4da-3a84-48a3-a14b-a871b17aa7e4.avif"
                            loading="lazy"
                            data-aisg-image-id="a9acb97a-dd2e-40d8-a637-27e65797e455"
                            class="image_cover ratio_3x2 margin-bottom_small"
                        />
                        <h3 class="heading_h4">Get found. Grow fast.</h3>
                        <p class="paragraph_small margin-bottom_small">
                            Rise to the top of search results. Our SEO know-how
                            brings more eyes—and more business—straight to your
                            door.
                        </p><a href="#" class="button w-button">Rank up</a>
                    </div>
                </div>
            </div>
        </section>